.container {
	display: flex;
	align-items: flex-end;
	max-width: 924px;
	margin: 84px auto 0;
	gap: 16px;
	overflow: visible;
}

.searchItem {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: visible;
}

.label {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 12px;
	line-height: 133%;
	color: var(--gray);
}

.searchInput {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 12px;
	height: 44px;
	margin-top: 8px;
	background: var(--inputs);
	outline: none;
	border: none;
	cursor: pointer;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	color: var(--main);
	cursor: pointer;
	padding-left: 16px;
}

.searchItemBrand {
	width: 204px;
}

.searchItemPrice {
	width: 196px;
}

.mileageInputFrom {
	border-color: transparent;
	border-right: 1px solid var(--gray-light);
	border-radius: 12px 0 0 12px;
	width: 160px;
	height: 44px;
	background: var(--inputs);
	outline: none;
	font-family: var(--font-family);
	font-size: 16px;
	color: var(--main);
	padding-left: 8px;
}

.mileageInputFrom::placeholder {
	color: var(--main);
}

.mileageInputTo {
	border-radius: 0 12px 12px 0;
	width: 160px;
	height: 44px;
	border-color: transparent;
	background: var(--inputs);
	outline: none;
	font-family: var(--font-family);
	font-size: 16px;
	color: var(--main);
	padding-left: 24px;
}

.mileageInputTo::placeholder {
	color: var(--main);
}

.dropdownMenu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	border: 1px solid var(--inputs);
	border-radius: 12px;
	width: 100%;
	max-height: 344px;
	overflow-y: auto;
	background: var(--white);
	margin-top: 14px;

	font-family: var(--font-family);
}
.dropdownMenuItem {
	display: flex;
	flex-direction: column;
	margin: 8px 18px;
	font-weight: 500;
	font-size: 16px;
	line-height: 125%;
	color: var(--gray);
	background: var(--white);
	cursor: pointer;
}

.searchButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 156px;
	height: 44px;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 125%;
	color: var(--white);
	border-radius: 12px;
	background-color: var(--button);
	border: none;
	cursor: pointer;
	margin-top: 28px;
	cursor: pointer;
}

.searchItemBrand .dropdownMenu::-webkit-scrollbar-thumb {
	border-radius: 10px;
	width: 8px;
	height: 64px;
	background: var(--gray-light);
}

.searchItemPrice .dropdownMenu::-webkit-scrollbar-thumb {
	border-radius: 10px;
	width: 8px;
	height: 128px;
	background: var(--gray-light);
}

.dropdownMenu::-webkit-scrollbar {
	width: 8px;
}

.dropdownMenu::-webkit-scrollbar-track {
	background: transparent;
}

.dropdownMenu::-webkit-scrollbar-thumb:hover {
	background: var(--gray);
}
