.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	margin: 56px auto 0;
	justify-content: center;
}
.list {
	display: grid;
	grid-template-columns: repeat(4, 276px);
	grid-template-rows: repeat(3, 424px);
	gap: 48px 32px;
	padding: 0;
	margin: 0;
	justify-content: center;
}

.listItem {
	width: 276px;
	height: 424px;
	border-radius: 12px;
	overflow: hidden;
	box-sizing: border-box;
}

.imageContainer {
	position: relative;
	width: 100%;
	height: 268px;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 12px;
}

.favoriteBtn {
	position: absolute;
	top: 12px;
	right: 12px;
	cursor: pointer;
}

.content {
	width: 276px;
	height: 424px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.title {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 125%;
	color: var(--main);
}

.model {
	color: var(--button);
}

.price {
	font-size: 16px;
	font-weight: 500;
	color: var(--main);
}

.meta {
	white-space: nowrap;
	font-size: 12px;
	line-height: 1.33;
	color: var(--gray);
	display: flex;
	flex-wrap: wrap;
	gap: 4px 12px;
}

.meta span {
	position: relative;
}

.meta span:not(:last-child)::after {
	content: "|";
	position: absolute;
	right: -8px;
	color: var(--gray);
}

.readMoreBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 276px;
	height: 44px;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 125%;
	color: var(--white);
	border-radius: 12px;
	background-color: var(--button);
}

.readMoreBtn:hover {
	background-color: var(--button-hover);
}
